/******************************************************
 START PAGE
 ******************************************************/
body {
	margin: 0;
	padding: 0;
}

#startPage{
	border: 1px solid black;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 400px;
	display: block;
}


/******************************************************
 GAME PAGE
 ******************************************************/
 #gamePage{
 	width: 400px;
 	height: 700px;
 	border: 2px solid black;
 	margin: 0 auto;
 	padding: 0;
 	display: none;
 	background-color: #ecd968;
 }

	 /******************************************************
	 INFO BAR
	 ******************************************************/
 #infoBar{
 	border-bottom: 1px solid black;
 	margin: 0;
 	padding: 0;
 	width: 400px;
 	height: 100px;
 	text-align: center;
 	background-color: white;
 }



	 /******************************************************
	 VIEW PORT
	 ******************************************************/

#viewPortCanvas {

}


