/******************************************************
 START PAGE
 ******************************************************/
body {
	margin: 0;
	padding: 0;
}

#wrapper{
	position: relative;
	overflow: hidden;
}

#startPage{
	position: relative;
	border: 3px solid black;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	height: 250px;
	width: 400px;
	display: block;
	background-color: #ffeb90; 
}

#startButton{
	border: 2px solid black;
	height = 10px;
	margin: 10px;
	background-color: #e9e9e9;
	font-size: medium;
}

/******************************************************
 GAME PAGE
 ******************************************************/
 #gamePage{
 	width: 400px;
 	height: 650px;
 	border: 2px solid black;
 	margin: 0 auto;
 	padding: 0;
 	display: none;
 	background-color: #ecd968;
 }



	 /******************************************************
	 INFO BAR
	 ******************************************************/
 #infoBar{
 	border-bottom: 1px solid black;
 	margin: 0;
 	padding: 0;
 	width: 400px;
 	height: 50px;
 	text-align: center;
 	background-color: white;
 }

 #infoBar>div {
 	display: inline-block;
 	margin-right: 20px;
 	margin-left: 20px;
 }
 
 #pauseButton{
	 position: relative;
	 top: 50%;
	 padding-right: 5px;
	 padding-left: 5px;
	 border: 1px solid black;
	 margin: 10px;
	 width: 40px;
	 background-color: #e9e9e9;
 }



	 /******************************************************
	 VIEW PORT
	 ******************************************************/

#viewPortCanvas {
	
}


	/******************************************************
	GAME OVER PAGE
	******************************************************/

  #gameOverPage{
	  width: 300px;
	  height: 150px;
	  border: 2px solid black;
	  margin: 0 auto;
	  padding: 30px;
	  display: none;
	  background-color: white;
	  position: relative;
	  top: -400px;
	  text-align: center;
	  font-size: large;
  }
  
  #scorePop{
	  position: relative;
	  margin: 0 auto;
	  
  }
  
  #backButton{
	  border: 1px solid black;
	  height = 10px;
	  margin: 10px;
	  background-color: #e9e9e9;
  }
  
  #restartButton{
	  border: 1px solid black;
	  height = 10px;
	  margin: 10px;
	  background-color: #e9e9e9;
  }
  
  
/******************************************************
TESTING PAGE
******************************************************/
	
#testPage{
	display: none;
}

  


