div.main{
        /*debugging main -- border: 1px solid black;*/
	padding: 20px;
	margin: 20px;
}

div.body{
	border: 1px solid black;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	align-content: center;
	text-align: center;
	width: 30%;
}
